body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 600px;
  background: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Kordhinta spacing u dhaxeeya headerka iyo container */
}

.header img {
  border-radius: 40%;
  width: 50px;
  height: 50px;
}

.header div {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.header div h2 {
  margin: 20px 10; 
  font-size: 1rem;
}

.header div p {
  margin: 10px;
  font-size: 0.875rem;
  color: #ff9900;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0; /* Kordhinta margin u dhaxeeya info iyo qeybaha kale */
}

.info div {
  background: #131212;
  border-radius: 10px;
  padding: 0px;
  width: 25%;
  box-sizing: content-box;
}

.info div p {
  margin: 11px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info div p img {
  width: 70px;
  height: 70px;
  margin-right: 1px;
}

.info div p:first-child {
  font-size: 1.1rem;
  color: #ccc;
}

.info div p:last-child {
  font-size: 1.2rem;
  color: #ff9900;
}

.score {
  font-size: 2rem;
  margin: 30px 0; /* Kordhinta margin u dhaxeeya score iyo qeybaha kale */
  display: flex;
  align-items: center;
  justify-content: center;
}

.score img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.hamster {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #021841;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.1s;
}

.hamster:active {
  transform: scale(0.85);
}

.hamster img {
  width: 200%;
  border-radius: 50%;
}

.level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* Kordhinta margin u dhaxeeya level iyo qeybaha kale */
}

.level p {
  margin: 0;
  font-size: 1rem;
}

.level .progress-bar {
  width: 80%;
  background: #555;
  height: 15px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.level .progress-bar div {
  background: #00cc00;
  height: 100%;
  width: 0;
  position: absolute;
  transition: width 0.3s;
}

@media (max-width: 480px) {
  .header img {
      width: 80px;
      height: 60px;
  }
  .header div h2 {
      font-size: 1rem;
  }
  .header div p {
      font-size: 0.75rem;
  }
  .info div {
      width: 45%;
  }
  .score {
      font-size: 1.5rem;
  }
  .score img {
      width: 35px;
      height: 30px;
  }
  .hamster {
      width: 300px;
      height: 300px;
  }
  .level p {
      font-size: 0.875rem;
  }
}
